<p id="notice"><%= notice %></p>

<p>
  <strong>Set:</strong>
  <%= @result.set %>
</p>

<p>
  <strong>Forehand:</strong>
  <%= @result.forehand %>
</p>

<p>
  <strong>Backhand:</strong>
  <%= @result.backhand %>
</p>

<p>
  <strong>Serve:</strong>
  <%= @result.serve %>
</p>

<p>
  <strong>Return:</strong>
  <%= @result.return %>
</p>

<p>
  <strong>Overhead:</strong>
  <%= @result.overhead %>
</p>

<p>
  <strong>Volley:</strong>
  <%= @result.volley %>
</p>

<p>
  <strong>Attitude:</strong>
  <%= @result.attitude %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @result.focus %>
</p>

<p>
  <strong>Rested:</strong>
  <%= @result.rested %>
</p>

<p>
  <strong>Executed:</strong>
  <%= @result.executed %>
</p>

<p>
  <strong>Poise:</strong>
  <%= @result.poise %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
