<p id="notice"><%= notice %></p>

<h2>Players</h2>


  <div>
    <% @players.each do |player| %>
        <p><%= player.name %></p>
        <p><%= player.email %></p>
        <p><%= player.USTA %></p>
        <p><%= player.description %></p>
        <p><%= player.favorite %></p>
        <p><%= player.inspiration %></p>
        <p><%= link_to 'Show', player %></p>
        <p><%= link_to 'Edit', edit_player_path(player) %></p>
        <p><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>

<br>

<%= link_to 'New Player', new_player_path %>
